<!DOCTYPE html>
<html>
<head>
	<title>Create Your Shopping List</title>

<link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>

<body>

<div class=notepad>
	<h1>Shopping List</h1>
  <div class="col-md-4"><span style="color:black;">Item</span></div>
  <div class="col-md-4"><span style="color:black;">Quantity</span></div>
  <div class="col-md-4"><span style="color:black;">Prefered Supermarket</span></div>
	<form>

	<textarea>
	Enter Price(space) Quantity(space) and Prefered Supermarket and then press the submit button below
	</textarea>
	<input type="submit" text="Submit Shopping List"></input>
	</form>
</div>

</body>
</html>
